---
console.log("javascript");
---

<section id="Beneficios" class="m-auto pt-14">
    <div data-aos="fade-down">
        <h1 class="text-center text-3xl">Beneficios exclusivos para ti</h1>
        
        <div
            class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-4"
        >
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto fill-orange-500"
                        viewBox="0 0 72 56"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="m36.57 36.76h-16.9a1.08 1.08 0 0 0 0 2.16h16.06a3.41 3.41 0 0 1 .84-2.16z"
                        ></path><path
                            d="m44.16 22.6h-24.49a1.08 1.08 0 1 0 0 2.16h24.49a1.08 1.08 0 1 0 0-2.16z"
                        ></path><path
                            d="m50.21 37.92v14.65a.55.55 0 0 1 -.55.55h-34.53a.55.55 0 0 1 -.55-.55v-49.14a.55.55 0 0 1 .55-.54h26.11v8.35a1.45 1.45 0 0 0 1.45 1.44h7.52v3c.07 0 .61-1 .69-1 .71-.95 1-.85 1.48-1h.69v-3.06l-9.75-10.62h-28.19a3.44 3.44 0 0 0 -3.43 3.43v49.14a3.44 3.44 0 0 0 3.43 3.43h34.53a3.44 3.44 0 0 0 3.43-3.43v-19.31c-.32.44-.63.9-.92 1.37a16.16 16.16 0 0 0 -1.96 3.29zm-6.08-32.78 4.28 4.65h-4.28z"
                        ></path><path
                            d="m41.29 29.62h-21.62a1.08 1.08 0 0 0 0 2.16h20.19z"
                        ></path><path
                            d="m27 48.83c.07.44.59.58.93.72s.72-.12 1-.26c1.69-.82 4 .15 5.78.15a.83.83 0 0 0 0-1.66c-2.11 0-3.86-.54-6-.19a1.06 1.06 0 0 0 -.17-.51 1.32 1.32 0 0 0 -1.39-.77 1.28 1.28 0 0 0 -.11-.24.8.8 0 0 0 -.52-.37 3.43 3.43 0 0 0 .58-3 .82.82 0 0 0 -.72-.41c-1.1 0-2.05 1.12-2.77 1.82a51.85 51.85 0 0 0 -4.86 5.7c-.66.84.79 1.67 1.43.83a60.39 60.39 0 0 1 4.3-5c-.37.61-.76 1.21-1.17 1.78-.59.91.81 1.69 1.43.84a1.64 1.64 0 0 1 .53-.52l-.12.3-.09.2c-.37.93 1 1.35 1.52.64a4.25 4.25 0 0 0 .35-.58 3.21 3.21 0 0 0 .07.53z"
                        ></path><path
                            d="m60.29 20.16c0-.2-.4-2-3.07-3.73s-4.44-1.37-4.64-1.32a1.1 1.1 0 0 0 -.64.46l-14.94 22.72a1.11 1.11 0 0 0 -.17.47l-1 8.45a1.1 1.1 0 0 0 .48 1 1.11 1.11 0 0 0 1.14 0l7.4-4.21a1 1 0 0 0 .36-.34l14.91-22.73a1.09 1.09 0 0 0 .17-.77zm-19.85 24.52a8.25 8.25 0 0 0 -1.16-.89 11.1 11.1 0 0 0 -1.28-.72l.3-2.53a8 8 0 0 1 4.35 2.85z"
                        ></path>
                    </svg>
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Sin amarres a largos contratos
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto fill-orange-500"
                        viewBox="100 100 780 680"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="m97 629.456v3c0 16 10 29 24 33 12-30 41-51 75-51s63 22 75 52h373v-70h-513c-19 0-34 15-34 33zm96-3c-33 0-59 27-59 60 0 32 26 59 59 59s59-27 59-59-26-60-59-60zm0 101c-23 0-41-19-41-41s18-41 41-41 41 18 41 41-18 41-41 41zm661-347c-7-9-17-11-23-11h-149c-6 0-11 5-11 11v269c0 7 5 12 11 12h40c13-28 40-47 72-47s60 19 73 47h59c6 0 11-5 11-12v-134zm19 117h-158c-6 0-11-5-11-11v-84c0-7 5-12 11-12h93c17 0 22 4 26 12l51 84c0 6-5 11-12 11zm56 138c0 6-5 10-11 10s-10-4-10-10v-20c0-6 4-11 10-11s11 5 11 11zm-137-9c-33 0-59 27-59 60 0 32 26 59 59 59s59-27 59-59c0-33-26-60-59-60zm0 101c-23 0-41-19-41-41s18-41 41-41 41 18 41 41-18 41-41 41zm-714-152h550c9 0 16-7 16-15v-290c0-9-7-16-16-16h-550c-8 0-15 7-15 16v290c0 8 7 15 15 15z"
                        ></path></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Mudanza de carga
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto fill-orange-500"
                        fill="none"
                        height="48"
                        viewBox="0 0 48 48"
                        width="48"
                        xmlns="http://www.w3.org/2000/svg"
                        ><g
                            ><path
                                clip-rule="evenodd"
                                d="m17.1479 31.169c-.089-.001-.1794.009-.2693.0309-5.4041 1.3183-10.8786 4.0062-10.8786 8.0499v4.7502h36v-4.7502c0-4.0437-5.4745-6.7316-10.8786-8.0499-.0899-.0219-.1803-.0319-.2693-.0309l-6.8521 7.831zm17.8521 6.1643s-1.3333-.6666-2-1.3333c-.6667.6667-2 1.3333-2 1.3333s.6983 2.6667 2 2.6667 2-2.6667 2-2.6667z"
                                fill-rule="evenodd"></path><path
                                d="m25.5 29h-3c-.5523 0-1 .4477-1 1v1.5858c0 .2652.1054.5196.2929.7071l.7071.7071-1 3.5 2.5 5 2.5-5-1-4 .4472-.2236c.3388-.1694.5528-.5157.5528-.8944v-1.382c0-.5523-.4477-1-1-1z"
                            ></path><g clip-rule="evenodd" fill-rule="evenodd"
                                ><path
                                    d="m15 18v-3h2v3c0 3.866 3.134 7 7 7s7-3.134 7-7v-3h2v3c0 4.9706-4.0294 9-9 9s-9-4.0294-9-9z"
                                ></path><path
                                    d="m13.6884 12c-.076-.1197-.1535-.24-.2314-.3612h-.0001c-.7081-1.0999-1.4569-2.26293-1.4569-3.54203 0-.8008.5203-1.47511 1.209-2.00829 2.56-1.98187 10.791-3.08848 10.791-3.08848s8.231 1.10662 10.791 3.08848c.6887.53318 1.209 1.20749 1.209 2.00829 0 1.45831-.8258 2.71753-1.6093 3.90323zm8.3116-4c0-1.10457.8954-2 2-2s2 .89543 2 2-.8954 2-2 2-2-.89543-2-2z"
                                ></path><path
                                    d="m14.0214 14.4106c.0454-.2378.2631-.4106.5172-.4106h18.9228c.2541 0 .4718.1728.5172.4106l.0002.0012.0003.0012.0005.0029.0012.0068.0029.0182c.0021.0141.0045.0322.0068.0539.0046.0435.0088.1019.0094.173.0012.1423-.0119.337-.0658.5663-.109.4635-.3808 1.0527-1.0033 1.6253-1.2341 1.1352-3.7696 2.1406-8.9308 2.1406s-7.6967-1.0054-8.9308-2.1406c-.6225-.5726-.8943-1.1618-1.0033-1.6253-.0539-.2293-.067-.424-.0658-.5663.0006-.0711.0048-.1295.0094-.173.0023-.0217.0047-.0398.0068-.0539l.0029-.0182.0012-.0068.0005-.0029.0003-.0012z"
                                ></path></g
                            ></g
                        ></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Seguridad 24 horas / 7 días
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto text-orange-500"
                        viewBox="3 3 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12 6V4H20V20H12V18H8V16H4V8H8V6H12ZM14 6H18V18H14V6ZM12 8H10V16H12V8ZM8 10V14H6V10H8Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Múltiples tamaños de mini depósitos
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto fill-orange-500"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="m2 3h20a2.07 2.07 0 0 1 2 2v14a2.07 2.07 0 0 1 -2 2h-20a2.07 2.07 0 0 1 -2-2v-14a2.07 2.07 0 0 1 2-2m6 10.91c-2 0-6 1.09-6 3.09v1h12v-1c0-2-4-3.09-6-3.09m0-7.91a3 3 0 1 0 3 3 3 3 0 0 0 -3-3m9 4v3h4v-3z"
                        ></path></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Acceso a tu depósito los 365 días del año
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto fill-orange-500 scale-x-[-1]"
                        enable-background="new 0 0 76.00 76.00"
                        viewBox="13 13 50 50"
                        width="76"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="m52.25 36.4167h-3.1667-4.75v-1.5833h6.0694l2.6389-7.9167h2.375zm7.9166-17.4166v28.1164c-1.1322-.7578-2.4936-1.1998-3.9583-1.1998-3.9351 0-7.125 3.19-7.125 7.125 0 .8328.1428 1.6322.4054 2.375h-3.9775c.2626-.7429.4054-1.5422.4054-2.375 0-3.935-3.1899-7.125-7.125-7.125-3.935 0-7.125 3.19-7.125 7.125 0 .8328.1429 1.6321.4055 2.375h-1.9888v-1.5833h-1.5833v1.5833h-3.1667-12.6667v-3.1667h12.6667v-33.2499h3.1667v25.3333h1.5833v-1.5834l11.0833-23.7499zm-15.8334 22.1666c0-1.7488 1.4178-3.1666 3.1667-3.1666h9.5v-15.8334h-14.25l-9.5 20.5833h11.0833zm-5.5416 6.3333c3.0606 0 5.5417 2.4811 5.5417 5.5417s-2.4811 5.5417-5.5417 5.5417-5.5416-2.4811-5.5416-5.5417 2.481-5.5417 5.5416-5.5417zm17.4167 0c3.0605 0 5.5416 2.4811 5.5416 5.5417s-2.4811 5.5417-5.5416 5.5417c-3.0606 0-5.5417-2.4811-5.5417-5.5417s2.4811-5.5417 5.5417-5.5417zm-32.4583-9.5h-4.75v-3.1667h4.75zm-6.3333 0h-4.75v-3.1667h4.75zm6.3333-4.75h-7.9167v-3.1667h7.9167zm-11.0833 17.4167v-11.0834h11.0833v11.0834z"
                            stroke-linejoin="round"
                            stroke-width=".2"></path></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Montacarga GRATUITO para descarga
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[60px] h-[60px] m-auto text-orange-500"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true"
                        focusable="false"
                        role="img"
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="-40 -30 1200 1100"
                        ><path
                            d="M960.12 960h-609q-22 30-55.5 47t-71.5 17q-66 0-113-47t-47-113q0-58 36.5-102t91.5-55V192q0-26-18.5-45t-45.5-19h-64q-26 0-45-18.5t-19-45T18.62 19t45.5-19h64q80 0 136 56t56 136v545q49 37 61 95h579q26 0 45 18.5t19 45t-19 45.5t-45 19zm-96-192h-448q-13 0-22.5-9.5t-9.5-22.5V608q0-13 9.5-22.5t22.5-9.5h448q13 0 22.5 9.5t9.5 22.5v128q0 13-9.5 22.5t-22.5 9.5zm-128-256h-320q-13 0-22.5-9.5t-9.5-22.5V352q0-13 9.5-22.5t22.5-9.5h320q13 0 22.5 9.5t9.5 22.5v128q0 13-9.5 22.5t-22.5 9.5zm-128-256h-192q-13 0-22.5-9.5t-9.5-22.5V96q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5v128q0 13-9.5 22.5t-22.5 9.5z"
                            fill="currentColor"></path></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Carretilla GRATUITA para descarga
                </p>
            </div>
            <div
                class="zoom relative max-w-xs drop-shadow-md hover:drop-shadow-xl bg-white border border-solid border-zinc-200 rounded p-4 col-span-1"
            >
                <div class="mb-6">
                    <svg
                        class="w-[80px] h-[60px] m-auto text-orange-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="5 5 50 50"
                        stroke-width="3"
                        stroke="currentColor"
                        fill="none"
                        ><path
                            d="M50.93,34.13v7.93a2.75,2.75,0,0,1-2.75,2.76H12.09A2.85,2.85,0,0,1,9.24,42V18a1.8,1.8,0,0,1,1.81-1.8H29.1"
                        ></path><path
                            d="M51.39,50.87H9.48a4.11,4.11,0,0,1-4.12-4.12V44.82H55v2.4A3.65,3.65,0,0,1,51.39,50.87Z"
                            fill="currentColor"></path><path
                            d="M31.64,13.13H56.5a2.14,2.14,0,0,1,2.14,2.14V31.66A2.14,2.14,0,0,1,56.5,33.8H30.77a2.14,2.14,0,0,1-2.14-2.14V16.13A3,3,0,0,1,31.64,13.13Z"
                        ></path><line
                            x1="28.63"
                            y1="17.53"
                            x2="58.64"
                            y2="17.53"
                            fill="currentColor"></line><line
                            x1="28.63"
                            y1="21.36"
                            x2="58.64"
                            y2="21.36"></line>
                        <path
                            d="M52.9,25.77a2.35,2.35,0,0,0-1.42.49,2.37,2.37,0,0,0-1.43-.49,2.33,2.33,0,1,0,0,4.66,2.37,2.37,0,0,0,1.43-.49,2.33,2.33,0,1,0,1.42-4.17Z"
                        ></path></svg
                    >
                </div>
                <p class="text-base font-normal text-center leading-5 mb-2">
                    Pagos seguros con nuestra plataforma pago online
                </p>
            </div>
        </div>
    </div>

    <style>
        h1 {
            display: block;
            margin-top: 0.83em;
            margin-bottom: 0.83em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }

        .text-primary {
            color: #f26233;
        }
        .primary {
            background-color: #f26233;
        }

        :hover.primary {
            background-color: #c44e1e;
        }

        .zoom:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-out;
            z-index: 40;
            border-color: #c44e1e;
            box-shadow: #c44e1e;
        }
    </style>
</section>
