---
console.log("javascript");
---

<section id="Cotizacion" class="pt-14">
    <div class="bg-white items-center m-auto py-2 sm:py-3" data-aos="fade-down">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <h1 class="mb-6 xs:text-4xl sm:text-5xl md:text-5xl lg:text-5xl text-primary text-center font-bold ">
                Almacenajes Minidepósitos
            </h1>
            <h2 class="text-center text-3xl m-2">
                ¿Buscas alquiler de bodegas pequeñas o mini depósitos en Panamá?
            </h2>

            <div
                class="text-base leading-7 text-gray-700 sm:w-100 md:w-10/12 lg:w-8/12 bg-zinc-200 m-auto p-6 rounded text-center m-auto"
            >
                <p
                    class="mt-2 text-center font-semibold tracking-tight text-gray-900 text-base"
                >
                    Deja tus datos aquí
                </p>
                <div class="">
                    <div
                        class="pipedriveWebForms"
                        data-pd-webforms="https://webforms.pipedrive.com/f/30ZjsoyUUNVXItMSgeKPoBkCTPffsPlFQPjz4j5UwN2QDTG2DGlSgsHGoREn47ASD"
                        id="idxgylty"
                    >
                        <script src="https://webforms.pipedrive.com/f/loader"
                        ></script>
                        <iframe
                            src="https://webforms.pipedrive.com/f/30ZjsoyUUNVXItMSgeKPoBkCTPffsPlFQPjz4j5UwN2QDTG2DGlSgsHGoREn47ASD?embeded=1&uuid=idxgylty"
                            name="https://almacenajes.net/?page_id=5234&preview=true-idxgylty"
                            scrolling="no"
                            title="Web Forms"
                            style="width: 100%; border: none; height: 596px;"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
     .text-primary {
        color: #f26233;
    }
</style>
