---
console.log("javascript");
---
<section id="Sucursales" class="pt-14">
    <div data-aos="fade-down">
        <h2 class="text-center text-3xl m-2">Nuestras sucursales</h2>
        <div class="responsiveWrapper">
            <iframe
                 title="Sucursales Almacenajes"
                src="https://www.google.com/maps/d/u/0/embed?mid=1It3n67GZ0gzGfeKF1EmOWsBSEZcMi1I&ehbc=2E312F&noprof=1"
                class="mapaint"
            >
            </iframe>
        </div>
        <!-- <div
            class="container mx-auto flex sm:px-4 md:px-8 lg:px-12 pt-3 md:flex-row flex-col items-center"
        >
            <div
                class="responsiveWrapper lg:w-10/12 md:w-10/12 sm:w-11/12 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-4 md:mb-0 items-center text-center"
            >
                <iframe
                        title="Sucursales Almacenajes"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1It3n67GZ0gzGfeKF1EmOWsBSEZcMi1I&ehbc=2E312F&noprof=1"
                        class="mapaint"
                    >
                    </iframe>  
            </div>
            <div class="lg:w-2/12 md:w-2/12 sm:w-2/12 h-full mx-2">
                <ul>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Albrook
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Colón
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Costa del Este
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        David
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Gorgona
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Hato Montaña
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Milla 8
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Rio Abajo
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        San Antonio
                    </li>
                    <li class="flex inline-block">
                        <svg
                            enable-background="new 0 0 24 24"
                            class="fill-orange-500"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><path d="m0 0h24v24h-24z" fill="none"></path><path
                                d="m12 2c-3.87 0-7 3.13-7 7 0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5.79 0 1-.95 1.25-1.5.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4.92-1.47 1.42-3.1 1.42-4.84 0-3.87-3.13-7-7-7zm0 9.75c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
                            ></path></svg
                        >
                        Vista Hermosa
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</section>
<style>
    h2 {
        display: block;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .responsiveWrapper {
        position: relative;
        padding-bottom: 540px; /* 1050px/760px */
        padding-top: 5px;
        height: 0;
    }
    .responsiveWrapper iframe {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 550px;
    }
    .mapaint {
        width: 100%;
        height: auto;
    }
</style>